div.main
    div.p01   
        div.p01__cuerpo
            div.p01__shadow
            div.p01__gorra
            div.p01__brazoD
            div.p01__piernaD
                div.p01__pantorrillaD
            div.p01__brazoI
            div.p01__piernaI
                div.p01__pantorrillaI
            div.p01__cara
                div.p01__ojoD
                div.p01__ojoI
                div.p01__boca

    div.p02
        div.p02__cuerpo
            div.p02__chamarraD
            div.p02__shadow
            div.p02__brazoD
                div.p02__brazoD2
                    div.p03   
                        div.p03__cuerpo
                            div.p03__cuerpo-front.face 
                            div.p03__cuerpo-back.face 
                            div.p03__cuerpo-right.face 
                            div.p03__cuerpo-left.face 
                            div.p03__cuerpo-top.face 
                                div.p03__ojoD
                                div.p03__ojoI
                                div.p03__boca
                            div.p03__cuerpo-bottom.face 
                            div.p03__brazoD
                            div.p03__brazoI
                            div.p03__piernaD
                                div.p03__pantorrillaD
                            div.p03__piernaI
                                div.p03__pantorrillaI
                            div.p03__pastilla.p03__pastilla01
                            div.p03__pastilla.p03__pastilla02
                        

            div.p02__piernaD
                div.p02__pantorrillaD
            div.p02__chamarraI
            div.p02__brazoI
            div.p02__piernaI
                div.p02__pantorrillaI
            div.p02__cara
                div.p02__ojoD
                div.p02__ojoI
                div.p02__boca
            div.p02__tronco

